body {
  width: 500px;
  height: 460px;
  margin: 0;
  font-family: 'VT323', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}