*,
*::before,
*::after {
  box-sizing: border-box;
  
  font-family: -apple-system, BlinkMacSystemFont, 'VT323', 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  width: 300px;
  height: 260px;
  overflow: hidden;

  background: #242424;

  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  height: inherit;
}

.main {
  height: inherit;
  padding-top: 40px;
  overflow: hidden;
}

/* 
html,
body {
    width: 300px;
    height: 300px;
    margin: 0;
    overflow: hidden;
}

body {
    text-align: center;
}

#timer {
    font-size: 24px;
    margin: 10px 0;
}

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
} */



button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;

  cursor: pointer;
}

.boop-btn {
  will-change: filter;
  transition: filter 300ms;
}

.boop-btn:hover {
  filter: drop-shadow(0 0 2em #faa);
}

.boop-btn.react:hover {
  filter: drop-shadow(0 0 2em #fbaa);
}



.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px);
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(4px 16px,
    8px 16px,
    8px 8px,
    16px 8px,
    16px 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 4px),
    16px calc(100% - 4px),
    16px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 16px),
    4px calc(100% - 16px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px,
    0px 50%,
    4px 50%,
    4px 16px,
    8px 16px,
    8px 8px,
    16px 8px,
    16px 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 4px),
    16px calc(100% - 4px),
    16px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 16px),
    4px calc(100% - 16px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #121212;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}




.pixel-corners-btn,
.pixel-corners-btn--wrapper {
  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px);
  position: relative;
}
.pixel-corners-btn {
  border: 4px solid transparent;
}
.pixel-corners-btn--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-btn--wrapper .pixel-corners-btn {
  display: block;
  clip-path: polygon(4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px));
}
.pixel-corners-btn::after,
.pixel-corners-btn--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px,
    0px 50%,
    4px 50%,
    4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #121212;
  display: block;
  pointer-events: none;
}
.pixel-corners-btn::after {
  margin: -4px;
}
.pixel-corners-btn:hover::after,
.pixel-corners-btn--wrapper:hover::after {
  background: #969696;
}
.pixel-corners-btn.active::after,
.pixel-corners-btn--wrapper.active::after {
  background: #ff4040;
}
.pixel-corners-btn.active:hover::after,
.pixel-corners-btn--wrapper.active:hover::after {
  background: #fc8181;
}